body {
    margin: 0;
    padding: 0;
    background-color: rgb(206, 165, 151);
    color: rgb(194, 88, 50);
  }

h1 {
  text-align: center;
}
  
  header {
    background-color: orangered;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .logo {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .site-name {
    margin: 0;
    font-size: 32px;
  }

  /*  */

main {
    padding: 10px;
}

img {
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 25px;
}

.info {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 10px;
    width: 85%;
    margin: auto;
    background-color: rgb(235, 211, 203);
    padding: 20px;
    border-radius: 15px;
}